/*
 * Copyright 2023, Yokogawa Rental and Lease Corporation. All rights reserved.
 */

package ${mapperPkg};

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.cursor.Cursor;

import ${entityPkg}.${entityClassName};

/**
 * ${tableFullName}マッピング用インターフェースクラス.
 * <dl>
 * <dt><b> 概要:</b></dt>
 * <dd>${tableFullName}マッピング用インターフェースクラスです。</dd>
 * </dl>
 *
 * @author Neusoft
 * @version 1.0
 * @since 新規作成
 */
@Mapper
public interface ${mapperClassName} {
#if($pkList.size() > 0)

    /**
    * ${tableFullName}情報取得.
     *
     * @param dto
     *        検索条件
    * @return ${tableFullName}情報
     */
    ${entityClassName} selectByPK(${entityClassName} dto);

    /**
    * ${tableFullName}情報取得(ロック).
     *
     * @param dto
     *        検索条件
    * @return ${tableFullName}情報
     */
    ${entityClassName} selectForUpdateByPK(${entityClassName} dto);
#end

    /**
    * ${tableFullName}情報削除.
     *
    * @return ${tableFullName}全件情報
     */
    Cursor<${entityClassName}> selectAll();
#if($pkList.size() > 0)

    /**
    * ${tableFullName}情報削除.
     *
     * @param dto
     *        削除条件
     * @return 削除件数
     */
    int deleteByPK(${entityClassName} dto);
#end

    /**
    * ${tableFullName}全件情報削除.
     *
     * @return 削除件数
     */
    int deleteAll();

    /**
    * ${tableFullName}登録.
     *
     * @param dto
     *        登録情報
     * @return 登録件数
     */
    int insert(${entityClassName} dto);

    /**
    * ${tableFullName}登録（NULL除く）.
     *
     * @param dto
     *        登録情報
     * @return 登録件数
     */
    int insertNotNull(${entityClassName} dto);
#if($pkList.size() > 0)

    /**
    * ${tableFullName}更新.
     *
     * @param dto
     *        更新情報
     * @return 更新件数
     */
    int updateByPK(${entityClassName} dto);

    /**
    * ${tableFullName}更新（NULL除く）.
     *
     * @param dto
     *        更新情報
     * @return 更新件数
     */
    int updateNotNullByPK(${entityClassName} dto);
#end
}