<?xml version = "1.0"  encoding = "UTF-8" ?>
  <dm>
    <tool-version>2.5.3.0</tool-version>
    <code>$dmId$</code>
    <name>$dmName$</name>
    <is-disable>false</is-disable>
    <creator>eclipse</creator>
    <create-time>2022-04-28 10:49:10.0</create-time>
    <dm-item-list>
#foreach (${item} in $!{dmItemList})
      <dm-item>
        <dm-code>${dmId}</dm-code>
        <code>$!{item.code}</code>
        <name>$!{item.name}</name>
        <length>$!{item.length}</length>
        <byteSize>$!{item.byteSize}</byteSize>
        <scale>$!{item.scale}</scale>
        <is-nullable>$!{item.is_nullable}</is-nullable>
        <key-group>$!{item.key_group}</key-group>
        <data-type>$!{item.data_type}</data-type>
        <is-disable>$!{item.is_disable}</is-disable>
        <creator>eclipse</creator>
        <create-time>2022-04-28 10:49:10.0</create-time>
        <dm-item-prop-list/>
      </dm-item>
#end
    </dm-item-list>
    <dm-ope-list/>
    <dm-prop-list/>
  </dm>
